h1 {
    color: green;
  }
  h2 {
    color:blue; 
  }

ul{ 
    color: red;
}
body h1 + p  {
  display: flex;
    color: yellow;
    align-items: center;
    justify-content: center;
    background-color: #3700B3;
    height: 100vh;
    padding: 5px;
  }
  button {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 24px;
}


button:hover {
    background-color: #03DAC5; /* Green */
    color: #B00020;
    font-size: 24px;
}
